.box {
    display: flex;
}

.box>* {
    flex: 1;
}

#contenu {
    display: flex;
}

@media screen and (max-width: 1280px) {
    .img-canva {
        display: none;
    }
    .contents {
        width: 1000%;
    }
    .about-us {
        background-color: red;
    }
    .content-width {}
    .image-cat {
        width: 50px;
    }
    .text-cat {
        font-size: 14px;
    }
    .box {
        margin-bottom: 50px;
    }
    .elements {
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px) {
    .sous-contenu1 {
        display: none;
    }
}